<div class="container">

<h1> <%= "Welcome to the coach!" %></h1>
<h2> <%= "Enter your question here" %></h2>

<form action="/answer" method = "get">
  <input class =your_question type="text" name="question" placeholder="What's your question?">
  <input class = "submit_button" type="submit" value="Ask!">
</form>
</div>
